{% extends 'ASFContactBundle::layout.html.twig' %}

{% form_theme form 'ASFContactBundle:form:fields.html.twig' %}

{% block asf_contact_content %}

    <div class="container-fluid">
    	<div class="row">
    	    {{ form(form) }}
    	</div>
    </div>

{% endblock %}