{% extends 'ASFContactBundle::layout.html.twig'  %}

{% trans_default_domain 'asf_contact' %}

{% block title %}{{ view_title }}{% endblock %}

{% block asf_contact_content %}

    <h1>{{ view_title }}</h1>
    
    <div class="container-fluid">
    	<div class="row">
    		{{ form(form) }}
    	</div>
    </div>
{% endblock %}